h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

button {
  cursor: pointer;
}

*,
::after,
::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  max-width: 320px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

@media screen and (min-width: 480px) {
  .container {
    max-width: 480px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
  }
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}
body {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
}

.header {
  background-image: url(../img/header/background-mobile_sm@1x.jpg), -webkit-image-set(url(../img/header/background-mobile_sm@1x.webp) 1x, url(../img/header/background-mobile_sm@2x.webp) 2x), -webkit-image-set(url(../img/header/background-mobile_sm@1x.jpg) 1x, url(../img/header/background-mobile_sm@2x.jpg) 2x);
  background-image: url(../img/header/background-mobile_sm@1x.jpg), -webkit-image-set(url(../img/header/background-mobile_sm@1x.webp) 1x, url(../img/header/background-mobile_sm@2x.webp) 2x), image-set(url(../img/header/background-mobile_sm@1x.jpg) 1x, url(../img/header/background-mobile_sm@2x.jpg) 2x);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  padding-bottom: 77px;
}

@media screen and (min-width: 480px) {
  .header {
    background-image: url(../img/header/background-mobile@1x.jpg), -webkit-image-set(url(../img/header/background-mobile@1x.webp) 1x, url(../img/header/background-mobile@2x.webp) 2x), -webkit-image-set(url(../img/header/background-mobile@1x.jpg) 1x, url(../img/header/background-mobile@2x.jpg) 2x);
    background-image: url(../img/header/background-mobile@1x.jpg), -webkit-image-set(url(../img/header/background-mobile@1x.webp) 1x, url(../img/header/background-mobile@2x.webp) 2x), image-set(url(../img/header/background-mobile@1x.jpg) 1x, url(../img/header/background-mobile@2x.jpg) 2x);
  }
}
@media screen and (min-width: 768px) {
  .header {
    background-image: url(../img/header/background-tablet@1x.jpg), -webkit-image-set(url(../img/header/background-tablet@1x.webp) 1x, url(../img/header/background-tablet@2x.webp) 2x), -webkit-image-set(url(../img/header/background-tablet@1x.jpg) 1x, url(../img/header/background-tablet@2x.jpg) 2x);
    background-image: url(../img/header/background-tablet@1x.jpg), -webkit-image-set(url(../img/header/background-tablet@1x.webp) 1x, url(../img/header/background-tablet@2x.webp) 2x), image-set(url(../img/header/background-tablet@1x.jpg) 1x, url(../img/header/background-tablet@2x.jpg) 2x);
  }
}
@media screen and (min-width: 1200px) {
  .header {
    background-image: url(../img/header/background-desktop@1x.jpg), -webkit-image-set(url(../img/header/background-desktop@1x.webp) 1x, url(../img/header/background-desktop@2x.webp) 2x), -webkit-image-set(url(../img/header/background-desktop@1x.jpg) 1x, url(../img/header/background-desktop@2x.jpg) 2x);
    background-image: url(../img/header/background-desktop@1x.jpg), -webkit-image-set(url(../img/header/background-desktop@1x.webp) 1x, url(../img/header/background-desktop@2x.webp) 2x), image-set(url(../img/header/background-desktop@1x.jpg) 1x, url(../img/header/background-desktop@2x.jpg) 2x);
  }
}
.header__wrap {
  margin: 0 auto;
  margin-top: 77px;
  text-align: center;
  max-width: 290px;
}

.header__text {
  color: #FFFFFF;
  font-weight: 500;
  font-size: 11px;
  margin-bottom: 10px;
}

.header__title {
  font-weight: 800;
  font-size: 24px;
  line-height: 134%;
  color: #FFFFFF;
  margin-bottom: 40px;
}

.header__btn {
  font-weight: 500;
  font-size: 16px;
  border: 1px solid #4985FF;
  border-radius: 30px;
  background-color: #4985FF;
  padding: 14px 36px;
  color: #FFFFFF;
  -webkit-transition: background-color 250ms ease-in-out;
  transition: background-color 250ms ease-in-out;
}
.header__btn:hover {
  background-color: transparent;
}

.header__menu-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin: 0 15px;
}

.menu-toggle {
  min-height: 40px;
  min-width: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin: 0;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  outline: none;
}

.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 48px 40px;
  z-index: 999;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: -webkit-transform 250ms ease-in-out;
  transition: -webkit-transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out, -webkit-transform 250ms ease-in-out;
  background-color: #FFFFFF;
}

.menu-container.is-open {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.menu-container .menu-toggle {
  position: absolute;
  top: 10px;
  right: 15px;
  color: #fff;
}

.mobile__link {
  font-weight: 500;
  font-size: 24px;
  color: #000000;
}
.mobile__link:hover, .mobile__link:focus {
  color: #4985FF;
}
.mobile__link--active {
  color: #4985FF;
}

.mobile__item:not(:last-child) {
  margin-bottom: 32px;
}

.mobile__info-wrap {
  margin-top: 300px;
  padding-bottom: 40px;
  border-bottom: 1px solid #E0E0E0;
}

.mobile__info-item:not(:last-child) {
  margin-bottom: 30px;
}

.mobile__info-link {
  color: #999999;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mobile__icon {
  margin-right: 15px;
}

@media screen and (max-width: 767px) {
  .header__nav {
    display: none;
  }
}
@media screen and (min-width: 480px) {
  .header__wrap {
    max-width: 391px;
  }
  .header__title {
    font-size: 30px;
    margin-bottom: 25px;
  }
}
@media screen and (min-width: 768px) {
  .menu-toggle {
    display: none;
  }
  .header__wrap {
    max-width: 600px;
  }
  .header__title {
    font-size: 36px;
    margin-bottom: 26px;
  }
  .header__nav-wrap {
    border-bottom: 1px solid #A1A1A1;
  }
  .header__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 40px 0;
  }
  .header__link {
    position: relative;
    margin: 0 5px;
    padding: 0 15px;
    color: #FFFFFF;
    font-weight: 500;
    font-size: 16px;
  }
  .header__link::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -41px;
    width: 100%;
    height: 2px;
    background: #fff;
    border-radius: 5px;
    -webkit-transform-origin: right;
            transform-origin: right;
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
    -webkit-transition: -webkit-transform 0.5s;
    transition: -webkit-transform 0.5s;
    transition: transform 0.5s;
    transition: transform 0.5s, -webkit-transform 0.5s;
  }
  .header__link:hover::after {
    -webkit-transform-origin: left;
            transform-origin: left;
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
  #current {
    position: relative;
  }
  #current::after {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    bottom: -41px;
    width: 100%;
    height: 2px;
    background: #fff;
    border-radius: 5px;
    -webkit-transform-origin: none;
            transform-origin: none;
    -webkit-transform: none;
            transform: none;
    -webkit-transition: none;
    transition: none;
  }
}
@media screen and (min-width: 1200px) {
  .menu-toggle {
    display: none;
  }
  .header {
    padding-bottom: 335px;
  }
  .header__wrap {
    margin-top: 219px;
    max-width: 829px;
  }
  .header__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    padding: 40px 0;
  }
  .header__text {
    font-size: 16px;
    margin-bottom: 20px;
  }
  .header__title {
    font-size: 48px;
    margin-bottom: 50px;
  }
}
.about {
  padding-top: 40px;
  padding-bottom: 40px;
}
.about__text-wrap {
  max-width: 290px;
  text-align: center;
  margin: 0 auto;
}
.about__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 146%;
  color: #323232;
  margin-bottom: 15px;
}
.about__text {
  color: #999999;
  font-size: 12px;
  line-height: 158%;
  padding-bottom: 40px;
}
.about__item {
  margin-bottom: 40px;
  margin: 0 auto;
}
.about__item:last-child {
  display: none;
}
.about__icon {
  width: 110px;
  height: 110px;
  margin: 0 auto;
}
.about__subtitle {
  padding-top: 20px;
  padding-bottom: 15px;
  text-align: center;
  font-size: 18px;
}
.about__subtext {
  font-weight: 400;
  line-height: 158%;
  color: #999999;
  text-align: center;
}
.about__btn-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.about__btn {
  font-weight: 500;
  font-size: 16px;
  text-align: center;
  color: #FFFFFF;
  padding: 15px 46px;
  background: #4985FF;
  border: none;
  cursor: pointer;
  border-radius: 30px;
  margin-top: 30px;
}
.about__btn:hover {
  color: #4985FF;
  background: none;
  border: 1px solid #4985FF;
}

@media screen and (min-width: 768px) {
  .about {
    padding-top: 70px;
    padding-bottom: 70px;
  }
  .about__text-wrap {
    max-width: 713px;
  }
  .about__title {
    font-size: 36px;
  }
  .about__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .about__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .about__item:nth-child(2n) {
    margin-bottom: 40px;
  }
  .about__item:last-child {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .about__icon-wrap {
    margin-right: 27px;
  }
  .about__subtitle {
    text-align: left;
  }
  .about__subtext {
    text-align: left;
  }
}
@media screen and (min-width: 1200px) {
  .about {
    padding-top: 110px;
    padding-bottom: 105px;
  }
  .about__text-wrap {
    max-width: 739px;
  }
  .about__title {
    font-size: 36px;
    margin-bottom: 32px;
  }
  .about__text {
    font-size: 16px;
  }
  .about__list {
    margin-top: 70px;
  }
  .about__item:last-child {
    display: none;
  }
}
.benefits {
  padding: 40px 0;
}
.benefits__wraper {
  border-bottom: 1px solid #E0E0E0;
  padding-bottom: 50px;
}
.benefits__text {
  max-width: 489px;
}
.benefits__title {
  text-align: left;
  color: #000000;
  font-family: "Monserrat", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 146%;
  padding-top: 19px;
  padding-bottom: 15px;
}
.benefits__describtion {
  font-family: "Monserrat", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 158%;
  text-align: justify;
  color: #999999;
  padding-bottom: 20px;
}
.benefits__link {
  font-family: "Monserrat", sans-serif;
  font-weight: 500;
  font-size: 14px;
  text-decoration: underline;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
  text-align: center;
  color: #4985FF;
  padding-bottom: 50px;
  cursor: pointer;
}
.benefits__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 40px;
  padding: 0 22px;
  padding-bottom: 40px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.benefits__item:not(:last-child) {
  margin-bottom: 30px;
}
.benefits__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.benefits__icon {
  width: 30px;
  height: 32px;
}
.benefits__number {
  font-family: "Monserrat", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 146%;
  color: #000000;
}
.benefits__span {
  font-family: "Monserrat", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 158%;
  color: #999999;
  padding-top: 4px;
}

@media screen and (min-width: 480px) {
  .benefits {
    padding-right: 62px;
    padding-left: 62px;
  }
  .benefits__image {
    width: 352px;
  }
  .benefits__list {
    text-align: center;
    margin-right: 10px;
    margin-left: 10px;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}
@media screen and (min-width: 768px) {
  .benefits {
    padding: 70px 17px;
  }
  .benefits__wraper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .benefits__image {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .benefits__title {
    font-size: 30px;
  }
  .benefits__text {
    width: 355px;
    margin-right: 128px;
  }
  .benefits__link {
    padding-bottom: 96px;
  }
  .benefits__list {
    margin-top: 50px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}
@media screen and (min-width: 1200px) {
  .benefits {
    padding-top: 100px;
    padding-left: 0;
    padding-right: 0;
  }
  .benefits__image {
    width: 500px;
  }
  .benefits__title {
    font-size: 36px;
  }
  .benefits__link {
    padding-bottom: 143px;
  }
}
.work {
  position: relative;
  padding-top: 40px;
}
.work__background {
  background-image: -webkit-gradient(linear, left top, right top, from(#504dc2), to(#5f12d0));
  background-image: linear-gradient(90deg, #504dc2 0%, #5f12d0 100%);
  width: 100%;
  padding-top: 100px;
  padding-bottom: 302px;
  margin-bottom: 882px;
}
.work__wraper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.work__wrap {
  position: absolute;
  top: 258px;
  border-bottom: 1px solid #E0E0E0;
}
.work__title {
  max-width: 413px;
  font-weight: 700;
  font-size: 24px;
  line-height: 146%;
  text-align: center;
  color: #FFFFFF;
}
.work__item {
  margin-top: 40px;
}
.work__item:first-child, .work__item:last-child {
  display: none;
}
.work__img-wrap {
  width: 290px;
}
.work__item-title {
  font-weight: 600;
  font-size: 16px;
  color: #000000;
  padding-top: 20px;
}
.work__number {
  font-weight: 600;
  font-size: 16px;
  color: #4985FF;
}
.work__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 158%;
  color: #999999;
  padding-top: 20px;
  padding-bottom: 30px;
  max-width: 301px;
}
.work__link {
  font-weight: 500;
  font-size: 16px;
  text-decoration: underline;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
  color: #4985FF;
}
.work__btn {
  display: none;
  font-weight: 500;
  font-size: 16px;
  text-align: center;
  color: #FFFFFF;
  padding: 14px 46px;
  background-color: #4985FF;
  cursor: pointer;
  border-radius: 30px;
  border: 1px solid #4985FF;
  -webkit-transition: background-color 250ms ease-in-out;
  transition: background-color 250ms ease-in-out;
}
.work__btn:hover {
  background-color: transparent;
}
.work__btn-wrap-mobile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 40px;
  margin-bottom: 40px;
}
.work__mobile-btn {
  font-weight: 500;
  font-size: 16px;
  color: #FFFFFF;
  padding: 15px 46px;
  background-color: #4985FF;
  border: none;
  cursor: pointer;
  border-radius: 30px;
  border: 1px solid #4985FF;
  -webkit-transition: background-color 250ms ease-in-out;
  transition: background-color 250ms ease-in-out;
}
.work__mobile-btn:hover {
  background-color: transparent;
}

@media screen and (min-width: 480px) {
  .work__background {
    margin-bottom: 913px;
  }
  .work__title {
    font-size: 30px;
  }
  .work__wrap {
    margin: auto;
  }
}
@media screen and (min-width: 768px) {
  .work {
    padding-top: 70px;
    padding-bottom: 70px;
  }
  .work__background {
    margin-bottom: 888px;
  }
  .work__title {
    text-align: left;
  }
  .work__wrap {
    margin: 0 auto;
  }
  .work__item:first-child, .work__item:last-child {
    display: block;
  }
  .work__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0 40px;
  }
  .work__mobile-btn {
    display: none;
  }
  .work__btn {
    display: block;
  }
}
@media screen and (min-width: 1200px) {
  .work__background {
    margin-bottom: 342px;
  }
  .work__wrap {
    padding-bottom: 85px;
    top: 258px;
  }
  .work__list {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .work__item:last-child {
    display: none;
  }
  .work__title {
    max-width: 540px;
  }
}
.video {
  background-image: -webkit-image-set(url(../img/header/background-desktop@1x.webp) 1x, url(../img/header/background-desktop@2x.webp) 2x);
  background-image: -webkit-image-set(url(../img/header/background-desktop@1x.jpg) 1x, url(../img/header/background-desktop@2x.jpg) 2x);
  background-image: image-set(url(../img/header/background-desktop@1x.jpg) 1x, url(../img/header/background-desktop@2x.jpg) 2x);
  background-repeat: no-repeat;
  background-size: cover;
}

.video__title {
  color: #FFFFFF;
  font-weight: 700;
  font-size: 36px;
  line-height: 146%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 70px;
}

.video__text {
  color: #FFFFFF;
  font-weight: 400;
  font-size: 16px;
  line-height: 158%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 30px;
}

.video__mini-film {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  top: 150px;
  padding-bottom: 85px;
  border-bottom: 1px solid #E0E0E0;
}

video {
  width: 970px;
  height: 430px;
  -webkit-box-shadow: 0 0 10px 0 rgba(111, 111, 111, 0.25);
          box-shadow: 0 0 10px 0 rgba(111, 111, 111, 0.25);
  border-radius: 10px;
}

@media screen and (max-width: 767px) {
  .video {
    display: none;
  }
}
@media screen and (max-width: 1199px) {
  video {
    width: 659px;
    height: 292px;
  }
  .video__mini-film {
    top: 70px;
  }
}
@media screen and (max-width: 1199px) {
  .video {
    background-image: url(../img/header/background-tablet@1x.jpg);
    background-image: -webkit-image-set(url(../img/header/background-tablet@1x.webp) 1x, url(../img/header/background-tablet@2x.webp) 2x);
    background-image: -webkit-image-set(url(../img/header/background-tablet@1x.jpg) 1x, url(../img/header/background-tablet@2x.jpg) 2x);
    background-image: image-set(url(../img/header/background-tablet@1x.jpg) 1x, url(../img/header/background-tablet@2x.jpg) 2x);
  }
}
.form {
  margin-top: 70px;
  margin-bottom: 50px;
}

.form__title {
  color: #000000;
  font-weight: 600;
  font-size: 16px;
  margin-bottom: 6px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.form__text {
  color: #999999;
  font-weight: 400;
  font-size: 12px;
  line-height: 158%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.form__text-join {
  color: #999999;
  font-weight: 400;
  font-size: 12px;
  line-height: 158%;
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.form__input {
  padding: 14px 0;
  padding-left: 28px;
  border-radius: 30px 0 0 30px;
  -webkit-box-shadow: 0 0 10px 0 rgba(111, 111, 111, 0.25);
          box-shadow: 0 0 10px 0 rgba(111, 111, 111, 0.25);
  border: none;
}

.form__input::-webkit-input-placeholder {
  color: #999999;
  font-weight: 400;
  font-size: 13px;
  line-height: 158%;
}

.form__input::-moz-placeholder {
  color: #999999;
  font-weight: 400;
  font-size: 13px;
  line-height: 158%;
}

.form__input:-ms-input-placeholder {
  color: #999999;
  font-weight: 400;
  font-size: 13px;
  line-height: 158%;
}

.form__input::-ms-input-placeholder {
  color: #999999;
  font-weight: 400;
  font-size: 13px;
  line-height: 158%;
}

.form__input::placeholder {
  color: #999999;
  font-weight: 400;
  font-size: 13px;
  line-height: 158%;
}

.form__button {
  padding: 14px 0;
  padding-left: 20px;
  padding-right: 30px;
  border-radius: 0 30px 30px 0;
  -webkit-box-shadow: 0 0 10px 0 rgba(111, 111, 111, 0.25);
          box-shadow: 0 0 10px 0 rgba(111, 111, 111, 0.25);
  border: 1px solid #4985FF;
  background-color: #4985FF;
  color: #FFFFFF;
  -webkit-transition: background-color 250ms ease-in-out;
  transition: background-color 250ms ease-in-out;
}
.form__button:hover, .form__button:focus {
  background-color: #FFFFFF;
  color: #4985FF;
  border: 1px solid #4985FF;
  -webkit-transition: background-color 250ms ease-in-out;
  transition: background-color 250ms ease-in-out;
}

.form__form {
  margin-top: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (min-width: 300px) {
  .form__button {
    padding-right: 20px;
  }
}
@media screen and (min-width: 768px) {
  .form {
    margin-top: 140px;
    margin-bottom: 76px;
  }
  .form__input {
    padding: 14px 0;
    padding-left: 28px;
    padding-right: 188px;
    border-radius: 30px 0 0 30px;
    -webkit-box-shadow: 0 0 10px 0 rgba(111, 111, 111, 0.25);
            box-shadow: 0 0 10px 0 rgba(111, 111, 111, 0.25);
    border: none;
  }
}
@media screen and (min-width: 1200px) {
  .form {
    margin-top: 240px;
  }
}
.footer {
  padding-top: 40px;
  background-color: #F6F6F8;
}

.footer__contact-title {
  color: #000000;
  font-weight: 600;
  font-size: 18px;
  margin-bottom: 2px;
}

.footer__contact-item {
  font-weight: 400;
  font-size: 14px;
  line-height: 158%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__contact-item:not(:last-child) {
  margin-bottom: 28px;
}

.footer__mail,
.footer__number,
.footer__map {
  color: #999999;
}

.footer__contact-svg {
  margin-right: 15px;
}

.footer__project-title {
  margin-top: 40px;
  margin-bottom: 9px;
  font-weight: 600;
  font-size: 18px;
  color: #000000;
}

.footer__project-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 158%;
}

.footer__project-item:not(:last-child) {
  margin-bottom: 21px;
}

.footer__post,
.footer__gas,
.footer__brewery,
.footer__kalush {
  color: #999999;
}

.footer__link-title {
  margin-top: 40px;
  margin-bottom: 9px;
  font-weight: 600;
  font-size: 18px;
  color: #000000;
}

.footer__link-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 158%;
}

.footer__link-item:not(:last-child) {
  margin-bottom: 21px;
}

.footer__link-home,
.footer__link-project,
.footer__link-services,
.footer__link-contact {
  color: #999999;
}

.footer__social-title {
  margin-top: 40px;
  margin-bottom: 9px;
  font-weight: 600;
  font-size: 18px;
  color: #000000;
}

.footer__social-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 158%;
}

.footer__social-item:not(:last-child) {
  margin-bottom: 21px;
}

.footer__linkedin,
.footer__instagram,
.footer__facebook,
.footer__twitter {
  color: #999999;
}

.footer__rights-text {
  font-weight: 400;
  font-size: 13px;
  line-height: 158%;
  color: #999999;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 20px 0;
}

.footer__rights {
  margin-top: 40px;
  border-top: 1px solid #E0E0E0;
}

@media screen and (min-width: 768px) {
  .footer {
    padding-top: 70px;
  }
  .footer__wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 0 98px;
  }
  .footer__contact-item,
  .footer__project-item,
  .footer__link-item,
  .footer__social-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }
  .footer__link-title {
    margin: 0;
  }
  .footer__social-title {
    width: 189px;
  }
}
@media screen and (min-width: 1200px) {
  .footer__wrap {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer__link-title {
    margin-top: 40px;
    margin-bottom: 9px;
  }
}/*# sourceMappingURL=main.css.map */