.about {
  padding-top: 40px;
  padding-bottom: 40px;
  &__text-wrap {
    max-width: 290px;
    text-align: center;
    margin: 0 auto;
  }
  &__title {
    font-weight: 700;
    font-size: 20px;
    line-height: 146%;
    color: $TitleColor;
    margin-bottom: 15px;
  }
  &__text {
    color: $TextColor;
    font-size: 12px;
    line-height: 158%;
    padding-bottom: 40px;
  }
  &__item{
    margin-bottom: 40px;
    &:last-child{
      display: none;
    }
  }

  &__icon-wrap{
    display: flex;
    justify-content: center;
    width: 100px;
    border: 1px solid $AccentColor;
    border-radius: 50px;
    padding: 25px;

  }
  &__subtitle{
    padding-top: 20px;
    padding-bottom: 15px;
    text-align: center;
    font-size: 18px;
  }
  &__subtext{
font-weight: 400;
line-height: 158%;
color: $TextColor;
text-align: center;
  }
  &__btn{
    display: flex;
    justify-content: center;
font-weight: 500;
font-size: 16px;
text-align: center;
color: $PrimaryTextColor;
padding: 15px 46px;
background-color: $AccentColor;
border: none;
cursor: pointer;
border-radius: 30px;
margin-top: 30px;
&:hover{
  color: $AccentColor;
  background-color: none;
  border: 1px solid $AccentColor;
}
  }
}
@media screen and (min-width:768px){
  .about{
    padding-top: 70px;
    padding-bottom: 70px;
    &__text-wrap{
      max-width: 713px;
    }
    &__title{
      font-size: 36px;
    }
    &__list{
      display: flex;
      flex-wrap: wrap;
    }
    &__item{
      display: flex;
      margin-left: 21px;
      &:last-child{
        display: flex;
      }
    }
      &__icon-wrap{
      margin-right: 27px;
      }
      &__subtitle{
text-align: left;
      }
      &__subtext{
        text-align: left;
      }
    }
  }
@media screen and (min-width: 1200px) {
  .about {
    padding-top: 110px;
    padding-bottom: 105px;
    &__text-wrap {
      max-width: 739px;
    }
    &__title {
      font-size: 36px;
       margin-bottom: 32px;
    }
    &__text {
      font-size: 16px;
    }
    &__list{
      margin-top: 70px;
    }
    &__item:last-child{
display: none;
    }
  }
}
