.benefits {
  padding: 40px 0;
  &__wraper {
    border-bottom: 1px solid $LineColor;
    padding-bottom: 50px;
  }
  &__text {
    max-width: 489px;
  }
  &__title {
    text-align: left;
    color: $SecondaryTextColor;
    font-family: "Monserrat", sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 146%;
    padding-top: 19px;
    padding-bottom: 15px;
  }
  &__describtion {
    font-family: "Monserrat", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 158%;
    text-align: justify;
    color: $TextColor;
    padding-bottom: 20px;
  }
  &__link {
    font-family: "Monserrat", sans-serif;
    font-weight: 500;
    font-size: 14px;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    text-align: center;
    color: $AccentColor;
    padding-bottom: 50px;
    cursor: pointer;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    margin-top: 40px;
    padding: 0 22px;
    padding-bottom: 40px;
    justify-content: space-between;
  }
  &__item:not(:last-child) {
    margin-bottom: 30px;
  }
  &__flex {
    display: flex;
    align-items: center;
  }
  &__icon {
    width: 30px;
    height: 32px;
  }
  &__number {
    font-family: "Monserrat", sans-serif;
    font-weight: 400;
    font-size: 36px;
    line-height: 146%;
    color: $SecondaryTextColor;
  }
  &__span {
    font-family: "Monserrat", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 158%;
    color: $TextColor;
    padding-top: 4px;
  }
}
@media screen and (min-width: 480px) {
  .benefits {
    padding-right: 62px;
    padding-left: 62px;
    &__image {
      width: 352px;
    }
    &__list {
      text-align: center;
      margin-right: 10px;
      margin-left: 10px;
      justify-content: space-around;
    }
  }
}
@media screen and (min-width: 768px) {
  .benefits {
    padding: 70px 17px;
    &__wraper {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    &__image {
      order: 2;
    }
    &__title{
      font-size: 30px;
    }
    &__text {
      width: 355px;
      margin-right: 128px;
    }
    &__link {
      padding-bottom: 96px;
    }
    &__list {
      margin-top: 50px;
      flex-direction: row;
    }
  }
}
@media screen and (min-width: 1200px) {
  .benefits {
    padding-top: 100px;
    padding-left: 0;
    padding-right: 0;
    &__image {
      width: 500px;
    }
    &__title{
      font-size: 36px;
    }
    &__link {
      padding-bottom: 143px;
    }
  }
}
