.header {
  background-image: url(../img/header/background-mobile_sm@1x.jpg),
    -webkit-image-set(url(../img/header/background-mobile_sm@1x.webp) 1x, url(../img/header/background-mobile_sm@2x.webp)
          2x),
    image-set(
      url(../img/header/background-mobile_sm@1x.jpg) 1x,
      url(../img/header/background-mobile_sm@2x.jpg) 2x
    );
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  padding-bottom: 77px;
}
@media screen and (min-width: 480px) {
  .header {
    background-image: url(../img/header/background-mobile@1x.jpg),
      -webkit-image-set(url(../img/header/background-mobile@1x.webp) 1x, url(../img/header/background-mobile@2x.webp)
            2x),
      image-set(
        url(../img/header/background-mobile@1x.jpg) 1x,
        url(../img/header/background-mobile@2x.jpg) 2x
      );
  }
}
@media screen and (min-width: 768px) {
  .header {
    background-image: url(../img/header/background-tablet@1x.jpg),
      -webkit-image-set(url(../img/header/background-tablet@1x.webp) 1x, url(../img/header/background-tablet@2x.webp)
            2x),
      image-set(
        url(../img/header/background-tablet@1x.jpg) 1x,
        url(../img/header/background-tablet@2x.jpg) 2x
      );
  }
}
@media screen and (min-width: 1200px) {
  .header {
    background-image: url(../img/header/background-desktop@1x.jpg),
      -webkit-image-set(url(../img/header/background-desktop@1x.webp) 1x, url(../img/header/background-desktop@2x.webp)
            2x),
      image-set(
        url(../img/header/background-desktop@1x.jpg) 1x,
        url(../img/header/background-desktop@2x.jpg) 2x
      );
  }
}
.header__wrap {
  margin: 0 auto;
  margin-top: 77px;
  text-align: center;
  max-width: 290px;
}
.header__text {
  color: $PrimaryTextColor;
  font-weight: 500;
  font-size: 11px;
  margin-bottom: 10px;
}
.header__title {
  font-weight: 800;
  font-size: 24px;
  line-height: 134%;
  color: $PrimaryTextColor;
  margin-bottom: 40px;
}
.header__btn {
  font-weight: 500;
  font-size: 16px;
  border: 1px solid $AccentColor;
  border-radius: 30px;
  background-color: $AccentColor;
  padding: 14px 36px;
  color: $PrimaryTextColor;
  transition: background-color 250ms ease-in-out;
  &:hover {
    background-color: transparent;
  }
}
.header__menu-wrap {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin: 0 15px;
}
.header__burger-icon {
  fill: $PrimaryTextColor;
}
.menu-toggle {
  min-height: 40px;
  min-width: 40px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin: 0;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  outline: none;
}
.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 48px 40px;
  z-index: 999;
  transform: translateX(100%);
  transition: transform 250ms ease-in-out;
  background-color: $PrimaryTextColor;
}
.menu-container.is-open {
  transform: translateX(0);
}
.menu-container .menu-toggle {
  position: absolute;
  top: 10px;
  right: 15px;
  color: #fff;
}

.mobile__link {
  font-weight: 500;
  font-size: 24px;
  color: $SecondaryTextColor;
  &:hover,
  &:focus {
    color: $AccentColor;
  }
  &--active {
    color: $AccentColor;
  }
}
.mobile__item:not(:last-child) {
  margin-bottom: 32px;
}
.mobile__info-wrap {
  margin-top: 300px;
  padding-bottom: 40px;
  border-bottom: 1px solid $LineColor;
}
.mobile__info-item:not(:last-child) {
  margin-bottom: 30px;
}
.mobile__info-link {
  color: $TextColor;
  align-items: center;
}
.mobile__icon {
  margin-right: 15px;
}
.mobile__info-link:hover {
  color: $AccentColor;
  .mobile__icon {
    fill: $AccentColor;
  }
}
@media screen and (max-width: 767px) {
  .header__nav {
    display: none;
  }
}
@media screen and (min-width: 480px) {
  .header__wrap {
    max-width: 391px;
  }
  .header__title {
    font-size: 30px;
    margin-bottom: 25px;
  }
}
@media screen and (min-width: 768px) {
  .menu-toggle {
    display: none;
  }
  .header__wrap {
    max-width: 600px;
  }
  .header__title {
    font-size: 36px;
    margin-bottom: 26px;
  }
  .header__nav-wrap {
    border-bottom: 1px solid $HeaderLineColor;
  }
  .header__list {
    display: flex;
    justify-content: center;
    padding: 40px 0;
  }
  .header__link {
    position: relative;
    margin: 0 5px;
    padding: 0 15px;
    color: $PrimaryTextColor;
    font-weight: 500;
    font-size: 16px;
    &::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: -41px;
      width: 100%;
      height: 2px;
      background: #fff;
      border-radius: 5px;
      transform-origin: right;
      transform: scaleX(0);
      transition: transform 0.5s;
    }
    &:hover::after {
      transform-origin: left;
      transform: scaleX(1);
    }
  }
  #current {
    position: relative;
    &::after {
      content: "";
      display: block;
      position: absolute;
      left: 0;
      bottom: -41px;
      width: 100%;
      height: 2px;
      background: #fff;
      border-radius: 5px;
      transform-origin: none;
      transform: none;
      transition: none;
    }
  }
}
@media screen and (min-width: 1200px) {
  .menu-toggle {
    display: none;
  }
  .header {
    padding-bottom: 335px;
  }
  .header__wrap {
    margin-top: 219px;
    max-width: 829px;
  }
  .header__list {
    display: flex;
    justify-content: flex-end;
    padding: 40px 0;
  }
  .header__text {
    font-size: 16px;
    margin-bottom: 20px;
  }
  .header__title {
    font-size: 48px;
    margin-bottom: 50px;
  }
}
