.work {
  position: relative;
  &__background {
    background-image: $BackgroundGradient;
    width: 100%;
    padding-top: 50px;
    padding-bottom: 302px;
    margin-bottom: 882px;
  }
  &__wraper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__wrap {
    position: absolute;
    top: 178px;
    border-bottom: 1px solid $LineColor;
  }
  &__title {
    max-width: 413px;
    font-weight: 700;
    font-size: 24px;
    line-height: 146%;
    text-align: center;
    color: $PrimaryTextColor;
  }
  &__item {
    margin-top: 40px;
  }
  &__item:first-child,
  &__item:last-child {
    display: none;
  }
  &__img-wrap {
    width: 290px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    overflow: hidden;
  }
  &__item-title {
    font-weight: 600;
    font-size: 16px;
    color: $SecondaryTextColor;
    padding-top: 20px;
  }
  &__number {
    font-weight: 600;
    font-size: 16px;
    color: $AccentColor;
  }
  &__text {
    font-weight: 400;
    font-size: 14px;
    line-height: 158%;
    color: $TextColor;
    padding-top: 20px;
    padding-bottom: 30px;
    max-width: 301px;
  }
  &__link {
    font-weight: 500;
    font-size: 16px;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: $AccentColor;
  }

  &__btn {
    display: none;
    font-weight: 500;
    font-size: 16px;
    text-align: center;
    color: $PrimaryTextColor;
    padding: 14px 46px;
    background-color: $AccentColor;
    cursor: pointer;
    border-radius: 30px;
    border: 1px solid $AccentColor;
    transition: background-color 250ms ease-in-out;
  }
  &__btn:hover {
    background-color: transparent;
  }
  &__btn-wrap-mobile {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 40px;
  }
  &__mobile-btn {
    font-weight: 500;
    font-size: 16px;
    color: $PrimaryTextColor;
    padding: 15px 46px;
    background-color: $AccentColor;
    border: none;
    cursor: pointer;
    border-radius: 30px;
    border: 1px solid $AccentColor;
    transition: background-color 250ms ease-in-out;
  }
  &__mobile-btn:hover {
    color: $AccentColor;
    background-color: transparent;
  }
}
@media screen and (min-width: 480px) {
  .work {
    &__background {
      margin-bottom: 913px;
    }
    &__title {
      font-size: 30px;
    }
    &__wrap {
      margin: auto;
    }
    &__img-wrap {
      width: 301px;
    }
    &__list {
    margin-left: 75px;
    margin-right: 74px;
  }
  }
}
@media screen and (min-width: 768px) {
  .work {
    padding-bottom: 70px;
    &__background {
      margin-bottom: 888px;
    }
    &__list{
     padding-bottom: 70px;
    }
    &__wrap{
      top: 258px;
    }
    &__title {
      text-align: left;
    }
    &__wrap {
      margin: 0 auto;
    }
    &__item:first-child,
    &__item:last-child {
      display: block;
    }
    &__list {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;
      max-width: 738px;
      margin-left: 0;
      margin-right: 0;
    }
    &__mobile-btn {
      display: none;
    }
    &__btn {
      display: block;
    }
    &__btn-wrap-mobile{
      display: none;
    }
  }
}
@media screen and (min-width: 1200px) {
  .work {
    &__background {
      margin-bottom: 482px;
      padding-top: 100px;
    }
    &__wrap {
      padding-bottom: 85px;
      top: 258px;
    }
    &__list {
      flex-wrap: nowrap;
      justify-content: space-between;
      padding: 0 0;
      max-width: none;
    }
    &__item:last-child {
      display: none;
    }
    &__title {
      max-width: 540px;
    }
    &__item:nth-child(-n + 2) {
      margin-right: 60px;
    }
    &__img-wrap {
      width: 350px;
    }
  }
}
