.work {
  position: relative;
  padding-top: 40px;
  &__background {
    background-image: $BackgroundGradient;
    width: 100%;
    padding-top: 100px;
    padding-bottom: 302px;
    margin-bottom: 482px;
  }
  &__wraper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__wrap {
    position: absolute;
    top: 258px;
    border-bottom: 1px solid $LineColor;
  }
  &__title {
    font-weight: 700;
    font-size: 24px;
    line-height: 146%;
    text-align: center;
    color: $PrimaryTextColor;
  }
  &__item {
    margin-top: 40px;
  }
  &__item:first-child,
  &__item:last-child {
    display: none;
  }
  &__img-wrap {
    width: 290px;
  }
  &__item-title {
    font-weight: 600;
    font-size: 16px;
    color: $SecondaryTextColor;
    padding-top: 20px;
  }
  &__number {
    font-weight: 600;
    font-size: 16px;
    color: $AccentColor;
  }
  &__text {
    font-weight: 400;
    font-size: 14px;
    line-height: 158%;
    color: $TextColor;
    padding-top: 20px;
    padding-bottom: 30px;
    max-width: 301px;
  }
  &__link {
    font-weight: 500;
    font-size: 16px;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: $AccentColor;
    // padding-top: 30px;
  }
  &__btn {
    font-weight: 500;
    font-size: 16px;
    text-align: center;
    color: $PrimaryTextColor;
    padding: 15px 46px;
    background-color: $AccentColor;
    border: none;
    cursor: pointer;
    border-radius: 30px;
    border: 1px solid $AccentColor;
    transition: background-color 250ms ease-in-out;
  }
  &__btn:hover {
    color: $AccentColor;
    background-color: transparent;
  }
}
@media screen and (min-width: 480px) {
  .work {
    &__title {
      font-size: 30px;
    }
    &__list {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
    }
  }
}
@media screen and (min-width: 768px) {
  .work {
    padding-top: 70px;
    padding-bottom: 70px;
    &__title {
      text-align: left;
    }
    &__item:first-child,
    &__item:last-child {
      display: block;
    }
    &__list {
        display: flex;
        justify-content: space-around;
    }
    &__mobile-btn {
        display: none;
    }
  }
}
@media screen and (min-width: 1200px) {
  .work {
    &__list {
      flex-wrap: nowrap;
      justify-content: space-between;
    }
    &__item:last-child {
      display: none;
    }
    &__title {
      max-width: 540px;
    }
  }
}
