$AccentColor: #4985FF;
$PrimaryTextColor: #FFFFFF;
$SecondaryTextColor: #000000;
$BackgroundGradient: linear-gradient(90deg, #504dc2 0%, #5f12d0 100%);
$PrimaryBgColor: #F6F6F8;
$TitleColor: #323232;
$TextColor: #999999;
$LineColor: #E0E0E0;
$HeaderLineColor: #A1A1A1;
$InputBorderColor: #F2F2F2;